@import './view/productWebView';

.sortMainContainer {
  position: relative;
}

.productListContainer {
  flex-wrap: wrap;
  width: 100%;
  display: grid;
  justify-content: flex-start;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  @include responsive-for(xlg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive-for(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive-for(sm) {
    align-self: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }

  // @media (max-width: 900px) {
  //   .productListContainer > .productCard-container {
  //     width: 30%;
  //   }
  // }

  // @media (max-width: 768px) {
  //   .productListContainer > .productCard-container {
  //     width: 50%;
  //   }
  // }
}

.productWebPage-container {
  padding: map-get($space, 5);
  width: 90%;

  margin: 20px auto;
}
.sortModalContainer {
  background-color: white;
  padding: map-get($space, 3);
  border-radius: map-get($radius, default);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 20;
  width: auto;
  transition: scale 0.5s ease-in-out;
  transform-origin: top right;
  position: absolute;
  top: 100%;
  right: 0%;
  width: max-content;
}

.filterItem {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fcedeb;
  }
}
