.CategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: map-get($space, 4);

  .categoryCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: map-get($space, 2);

    height: 150px;
  }

  .categoryImageContainer {
    display: flex;
    border: 2px solid blue;
    border: 2px solid rgb(251, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 110px;
    width: 110px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 50%;
  }

  .categoryImage {
    display: flex;
    justify-content: center;
    row-gap: map-get($space, 3);
    flex-direction: column;

    &-image {
      height: 90px;
      width: 90px;
      //   padding: map-get($space, 1);
      //   border: 3px solid red;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: 100%;
        display: block;
        overflow: hidden;
        object-fit: cover;
      }
    }

    &-title {
      font-size: map-get($space, 4);
      font-weight: 800;
    }
  }
}
