.addProduct {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  //   border: 2px solid red;

  &-input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // border: 2px solid blue;
    flex: 1;

    .css-vet36p-control {
      width: 100% !important;
    }
  }
}

.react-player__preview {
  height: 150px !important;
  width: 100px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  object-fit: contain !important;
}

video {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000003;
}
