.footer-container {
  width: 100%;
  .footer {
    width: 100%;
    padding: 2% 5%;
    background-color: #fcedeb;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: map-get($space, 3);

    &-left,
    &-middle,
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: map-get($space, 3);

      &-subTitle {
        font-size: map-get($fontSizes, 5);
      }

      &-linkList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &-each {
          cursor: pointer;
          &:hover {
            color: map-get($text, secondary);
          }
        }
      }
    }
  }
}
