.productCard-container {
  // height: 40vh;
  width: 100%;

  .productCard {
    padding: map-get($space, 4);
    border-radius: map-get($radius, default);
    background: white;

    border-radius: 6px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid $lightBorderColor;
    overflow: hidden;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    transition: 0.3s all ease-in-out;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    // border: 2px solid red;

    &-image {
      height: 20vh;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      perspective: 1000px;
      perspective-origin: 50% 50%;
      //   border: 2px solid blue;
      &:hover {
        // perspective-origin: 50% 281%;
        // border: 2px solid red;
      }

      img {
        height: 100%;
        object-position: top;
        width: 100%;
        object-fit: contain;
        display: block;
        perspective: 100px;
        transition: all 0.5s ease-in-out;
        transform: rotateY(0deg);

        // &:hover {
        //   transform: rotateY(-65deg);
        // }

        transform-style: preserve-3d;
      }
    }

    &-titleDescription {
      &-price {
        font-weight: 600;
        font-size: 18px;
        // background: rgb(254, 241, 230);
        // padding: map-get($space, 2) map-get($space, 3);
        // border-radius: 20px;
        color: black;
        width: max-content;
      }
      &-title {
        // border: 2px solid blue;
        font-size: 16px;
        font-weight: bold;

        overflow: hidden;
        text-overflow: ellipsis;
        // line-height: 20px; /* Ensure line height matches the container height */
        // border: 1px solid #ccc;
        // padding: 5px;
        height: 20px;
      }

      &-description {
        font-size: 16px;
        // -o-text-overflow: ellipsis;
        // text-overflow: ellipsis;
        // height: 20%;

        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px; /* Ensure line height matches the container height */

        padding: 5px;
        height: 40px;
      }
    }

    &-footer {
      width: 100%;
      width: 100%;
      padding: map-get($space, 1) map-get($space, 3);
      border-radius: 8px;
      background-color: #dc747d;
      @include flex(row, center, center);
      color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      cursor: pointer;
      &-right {
      }
    }
  }
}
