@import './common/common';
@import './routing/sideNav/sidenav';
@import './components/components';
@import './pages/main';

._dropdown_15ws1_1 ._menu_15ws1_133 ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

._dropdown_15ws1_1 ._menu_15ws1_133 {
  min-width: unset !important;
}
