@import './view/categoryView';
@import './add/addCategory';

.subCategoryButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  &-item {
    padding: 4px 12px;
    background-color: #37a5b3;
    font-size: 12px;
    font-weight: 600;
    color: white;
    border-radius: 13px;
  }
}
