.carouselContainers {
  height: 60vh;
  width: 100vw;

  // border: 2px solid red;
  width: 100%;

  .slick-next {
    display: none !important;
  }

  .slick-slide {
    height: 60vh !important;
    img {
      height: 60vh !important;
    }
  }

  .slider {
    height: 60vh !important;

    .image-container {
      position: relative;
      height: 60vh !important;

      // span > img {
      //   height: 100% !important;
      // }

      @include responsive-for(md) {
        height: 14.5vh;
      }
    }
  }

  .image-container img {
    height: 40vh !important;
    width: 100% !important;
  }

  img {
    height: 100%;
    width: 100%;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-slide {
    height: 100%;

    span {
    }
  }
}
