.profileDetail-container {
  width: 100%;
  .profileDetail {
    display: flex;
    flex-direction: column;
    border: 1px solid map-get($border, 'light');
    height: auto;

    border-radius: map-get($radius, default);
    &-topinfo {
      display: flex;
      gap: map-get($space, 6);
      border-bottom: 1px solid map-get($border, 'light');
      padding: map-get($space, 4);
      &-image {
        height: 60px;
        width: 60px;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        gap: map-get($space, 2);

        &-fullname {
          font-size: map-get($fontSizes, 4);
          font-weight: map-get($fontWeights, bold);
          color: $black;
        }

        &-members {
          font-size: map-get($fontSizes, 2);
          color: map-get($text, 'primary');
        }
        &-location {
          font-weight: map-get($fontWeights, bold);
          color: map-get($text, 'primary');
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: map-get($fontSizes, 1);
          span {
            display: flex;
            justify-content: center;
            margin-right: map-get($space, 2);
            padding: map-get($space, 1);
            background-color: map-get($base, 'surface');
            border-radius: 50%;
            color: map-get($text, 'primary');
            font-size: map-get($fontSizes, 2);
          }
        }
      }
    }
    &-contacts {
      display: flex;
      flex-direction: column;
      gap: map-get($space, 5);
      padding: map-get($space, 4) map-get($space, 4);

      &-phone,
      &-email {
        padding: map-get($space, 2) map-get($space, 6);
        display: flex;
        align-items: center;
        gap: map-get($space, 5);
        background: map-get($base, 'secondary');
        border-radius: map-get($radius, default);

        &-icons {
          display: flex;
          justify-content: center;
          height: 25px;
          width: 25px;
          background: $white;
          border-radius: 50%;
          align-items: center;
        }

        &-number,
        &-mailaddr {
          font-size: map-get($fontSizes, 3);
          color: map-get($text, 'primary');
        }
      }
    }

    &-moreLink {
      padding: map-get($space, 4) map-get($space, 5);

      .profileDetail-moreLink-link {
        width: max-content;
        font-weight: map-get($fontWeights, bold);
        display: flex;
        align-items: center;
        color: map-get($text, 'base');
        border-bottom: 1px solid map-get($text, 'base');

        cursor: pointer;
        span {
          margin-right: map-get($space, 1);
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: map-get($space, 4) 0rem;
      border-top: 1px solid map-get($border, 'light');
      gap: map-get($space, 3);

      &-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid map-get($border, 'light');
        font-size: map-get($fontSizes, 3);
        color: $black;
        cursor: pointer;

        &:hover {
          color: map-get($base, primary);
          border-color: map-get($base, primary);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
