.productDetail-container {
  height: auto;
  width: 100%;

  .productDetail {
    width: 100%;
    &-left {
      @include responsive-for(sm) {
        width: 100% !important;
      }
    }
    &-detailTop {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: map-get($space, 2);
      flex-direction: column;
      width: 50%;

      padding: map-get($space, 4) map-get($space, 3);
      &-topMost {
        color: map-get($text, 'secondary');

        @include responsive-for(md) {
          width: 100% !important;
        }
        @include responsive-for(sm) {
          flex-direction: column;
          row-gap: map-get($space, 3);
        }
      }
      &-electronics {
        &-catagory {
          font-size: map-get($fontSizes, 3);
          font-weight: map-get($fontWeights, bold);
          color: map-get($base, 'primary');
        }
      }
    }

    &-detailBottom {
      padding: map-get($space, 3);
      border: 2px solid red;

      border-top: 1px solid map-get($border, 'light');
      &-description {
        &-content {
          font-size: map-get($fontSizes, 3);
          color: $graylite;

          height: 40px;
          line-height: 1.3;
          text-align: justify;
        }
      }
    }
  }
}
